Title: Über
MainMenueOrder: 2
---

<p>
  Diese Seite wurde erstellt mit der hilfe von Bootstrap, jQuerry und Wyam. Die Sourcen aus denen
  sie generiert wird können auf <a href="@Constants.GitUrl">Github</a> gefunden werden.
</p>
<p>
Die Texte dieser Seite unterstehen, sofern nicht anders angegeben, <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Namensnennung - Nicht-kommerziell - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz</a>.
</p>
<p>
Als Namennennung reicht "Unterstützer des @Constants.ProjectName Projekt". Falls eine genaue zuordnung zu einer Person gewüncht ist, so kann diese unter <a  href="@Constants.GitUrl">GitHub</a> in der Historie der Daten eingesehen werden.
</p>
<p>
Andere Resourcen wie z.B. Bilder können anderen Bestimmungen unterliegen.	
</p>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#resourceTable" aria-expanded="false" aria-controls="resourceTable">
  Genutzte Resourcen
</button>
<table class="table table-hover collapse" id="resourceTable">
<thead>
  <th> Datei </th>
  <th> Public Domain status </th>
  <th> Uhrheber </th>
  <th> Lizenz </th>
  </thead>
  <tbody>
    @foreach(var doc in Documents["Write"])
    {
      var hasMetadata = false;
      bool? rightsReserved = null;
      string creator=null;
      string copyright=null;
      bool isImage = false;

   @if(null!=@doc.Get<bool?>("RightsReserved"))
      {
        hasMetadata = true;
        rightsReserved = doc.Get<bool?>("RightsReserved");
      }
      @if(doc.ContainsKey("Creator"))
      {
        hasMetadata = true;
        creator =(string) doc["Creator"];
      }      
      @if(@doc.ContainsKey("Copyright"))
      {
        hasMetadata = true;
        @if(doc["Copyright"] is Object[])
        {
          copyright = (doc["Copyright"] as Object[])[0].ToString();
        } 
        else
        {
          copyright = doc["Copyright"].ToString();          
        }
      }

      
      var extension = ((Wyam.Common.IO.FilePath)@doc["TargetFile"]).Extension;
      
      @switch(extension)
      {
        case ".png":
          isImage=true;
          break;
      }
      
      @if(hasMetadata)
      {
        <tr>
          @if(isImage)
          {
            <td>
            <img class="img-responsive" src="@doc["TargetUrl"]" />
            </td>
          }                      
          else
          {
            <td>
            <a class="img-responsive" href="@doc["TargetUrl"]">
            @doc["TargetUrl"]
            </a>
            </td>
          }
          
          @if(rightsReserved.HasValue && !rightsReserved.Value)
          {
            <td>
            Public Domain
            </td>
          }
          else
          {
            <td>
            </td>
          }
          
          <td>
            @creator
          </td>
          <td>
             @( Html.Raw(copyright))
          </td>
                
        </tr>
        
      }

    }
  </tbody>           
</table>
